<!DOCTYPE html>

<html>

    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" type="text/css" href="css/main.css"/>
        <script src="../ws.js"></script>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    
    <body id="body">
        <header id="header">

            <span > </span>
        
        </header>


<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                <h1>NRG</h1>
                <h3>Bot discord analytique</h3>

            </div>
        </div>
    </div>
</section>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="rgb(78, 93, 148)" fill-opacity="1" d="M0,128L80,112C160,96,320,64,480,69.3C640,75,800,117,960,138.7C1120,160,1280,160,1360,160L1440,160L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path></svg>

       {{{ body }}}
        

        
    </body>

</html>